html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Georgia, "Times new Roman", serif;
  height: 100%;
  background-color: #222126;
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}
