.card {
  float: left;
  width: 100%;
  margin: 10px 0;
  padding: 16px 24px;
  color: #ededed;
  background-color: #282c35;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 #1a1c20;
}

.card.open .header::before {
  content: "▼ ";
}

.card.closed .header::before {
  content: "► ";
}

.header {
  font-weight: bold;
  cursor: pointer;
}

.card.closed .body {
  display: none;
}

.body > img {
  margin: 16px -24px 16px;
  width: calc(100% + 16px + 16px + 16px);
}
